.badge {
  padding: 6px 12px;
  border-radius: 8px;
  font: var(--font-small);
}

.pink {
  background-color: #ffd5fb;
  color: #9600ae;
}

.green {
  background-color: #7c9518;
  color: #eeffd3;
}

.yellow {
  background-color: #fff8d3;
  color: #a4861e;
}

.orange {
  background-color: #ffe0bb;
  color: #a96e28;
}

.violet {
  background-color: #e5d5ff;
  color: #5910d1;
}

.blue {
  background-color: #cee3ff;
  color: #0055cb;
}

.gray {
  background-color: #e8ecf6;
  color: #4e4e4e;
}
