.tableWrapper {
  overflow-x: auto;
  max-width: 1500px;
}

@media screen and (max-width: 1800px) {
  .tableWrapper {
    max-width: 1200px;
    overflow-x: scroll;
  }
}

.table {
  margin-top: 24px;
  border-spacing: 0;
}

.tableRowHeader {
  background-color: var(--sidebar-bg);
  font: var(--font-medium);
  color: var(--text-light);
}

.tableRowHeader p {
  font: var(--font-medium);
  color: var(--text-light);
}

.tableRowHeader th {
  padding: 16px;
  text-align: left;
}

.table th:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.table th:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.ellipsis {
  max-width: 84px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsisSmall {
  max-width: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  padding: 11px 16px;
  border-bottom: 1px solid var(--divider-color);

  font: var(--font-medium);
  color: var(--black-color);
}

.flexItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.tooltip {
  cursor: pointer;
}

.fullWidth {
  width: 160px;
}

.btnLight {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.iconBtn {
  padding: 0;
}
