* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sidebar-bg: #f4f6f9;
  --primary-blue: #006bff;
  --text-light: #a3a3a3;
  --text-default: #4E4E4E;
  --white-color: #fff;
  --black-color: #222;
  --divider-color: #d4d9e4;
  --danger-color: #EE4444;

  --font-small: 500 14px/20px 'Inter Tight', sans-serif;
  --font-medium: 500 16px/24px 'Inter Tight', sans-serif;
  --font-large: 500 18px/28px 'Inter Tight', sans-serif;
  --font-xlarge: 600 24px/32px 'Inter Tight', sans-serif;  
  --font-title: 500 36px/44px 'Inter Tight', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
